@import "tailwindcss";

@theme {
  /* === Brand Colors === */
  --color-primary: #34b4eb;
  --color-primary-foreground: #f0f1f3;

  --color-secondary: #8bade4;
  --color-secondary-foreground: #ffffff;

  --color-accent: #879ec2;
  --color-accent-foreground: #ffffff;

  /* === Base UI Colors === */
  --color-background: #fefefe;
  --color-foreground: #040d1b;

  --color-muted: #f4f4f7;
  --color-muted-foreground: #6b7280; /* abu-abu sedang */

  --color-border: #e5e7eb;
  --color-input: #f9fafb;
  --color-ring: #bae6fd; /* biru muda (untuk efek focus) */

  /* === Text Colors === */
  --color-text: #1f2937; /* abu gelap */
  --color-subtle: #6b7280; /* abu-abu medium */
  --color-inverted: #ffffff;

  /* === Card / Panel === */
  --color-card: #f2f2f2;
  --color-card-foreground: #1f2937;

  /* === Destructive / Error === */
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
}

body {
      font-family: var(--font-jakarta-sans), ui-sans-serif, system-ui, -apple-system,
      BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji";
}
